<p>
  contact-view works!
</p>

<div>
  <mat-table #table [dataSource]="dataSource">
    <!-- Column and values -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="phonenumber">
      <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>
  </mat-table>
</div>
